/*global*/
html {
	/*set root font-size for rem*/
	font-size:/*var(--baseFontSize);*/
}
img {
	max-width: 100%;
	height: auto;
}
* {
	box-sizing: border-box;
}
body {
	font-family: var(--sans-serif);
	color: var(--base-dark);
	/*line-height: 1.4;*/
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}
a {
	color: inherit;
}
strong {
	font-weight: 600;
}