/* ACCESSIBILITY */
/* -------------------------------------------------------------------
---------------------------------------------------------------------*/
/* visibility  */
.u-hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* focusable elements for tabbing and skip to content links that should be hidden until keyboard focus */

.u-hide-element--focusable:active,
.u-hide-element--focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*<a class="u-hide-element u-hide-element--focusable" href="#main">Skip to the main content</a>
<nav>Navigation elements...</nav>
<main id="main">The main content</main>*/

/* -------------------------------------------------------------------
----------------------------------------------------------------------*/

/*prevent mid-word break*/
.u-nowrap {
	white-space: nowrap;
}
/* u-contain-x*/
/*controlling page horizontal breathing space/alignment*/

/* u-body-text-container */
/* controlling body text paragraph typography: font-size, line-length, line-height, links; */

	
	