/* variables */

/* root scope */

/* colors */
/*https://htmlcolorcodes.com/color-chart/*/
:root {
	--base-dark:#424242;
	--yellow: #ffc600;
  --black: #272727;
}

/*fonts*/
:root {
	--display: ;
	--sans-serif: 'Fira Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/*typography baseline scale*/

:root {
	--baseFontSize:100%;
	--baseLineHeight: 1.579;
	--baseUnit: calc(var(--baseFontSize) * var(--baseLineHeight));
}
